@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    147deg,
    rgba(213, 213, 152, 1) 0%,
    rgba(212, 145, 127, 100) 100%
  );
  overflow: hidden;
}
.container {
  height: 80%;
  position: relative;
  background-color: white;
}
.empty {
  height: 20%;
}
.player {
  height: 40%;
  font-size: 2rem;
}
.global {
  color: red;
}
.c-point {
  height: 40%;
  font-size: 2rem;
}
.current-point {
  color: red;
}

.newGame {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -350%);
  width: 10rem;
}
.ng-img {
  width: 20%;
}
.dice-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -150%);
  width: 10%;
}
.roll {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 10%);
}
.roll-img {
  width: 20%;
}
.hold {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 175%);
}
.hold-img {
  width: 50%;
}

/*Media Queries */

@media screen and (max-width: 576px) {
  .container {
    width: 80%;
  }
  .newGame {
    transform: translate(-110%, -50%);
  }
  .hold {
    transform: translate(40%, -150%);
  }
  .roll {
    transform: translate(-15%, 0%);
  }
  .player {
    height: 0;
    margin: 0%;
    font-size: 1.2rem;
  }
  .empty {
    height: 0.5%;
  }
  .left {
    display: flex;
    flex-direction: column;
  }
  .right {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .c-point {
    font-size: 1.2rem;
  }
  .current {
    margin-top: 20%;
    margin-bottom: 22%;
  }

  .global {
    margin-top: 10%;
    margin-bottom: 30%;
    font-size: 1rem;
  }
}
